body {
    font-family: "Poppins", sans-serif;
}

.form-control:ring {
    outline: none;
}

.social-btn {
    outline: none;
    border: none;
}

.btn {
    border: none;
}


.blog-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media screen and (max-width: 800px) {
    /* For tablets: */
    .blog-body {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .blog-body {
        grid-template-columns: repeat(1, 1fr);
    }
}
