body {
    font-family: "Poppins", sans-serif;
}

.form-control:ring {
    outline: none;
}

.social-btn {
    outline: none;
    border: none;
}

.btn {
    border: none;
}

.blog-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
